body {
    margin: 0;
    background: gainsboro;
}
h1 {
    font-size: 25px;
    color: indigo;
    font-family: Tahoma;
    text-align: center;
   }
.content {
    margin: 10px;
    padding: 5px;
    background: whitesmoke;
    min-height: 340px;
}
.portrait-left {
    width: 200px;
    border: 1px solid gray;
    margin: 10px;
    padding: 5px;
    float: left;
    text-align: center;
    font-family: Tahoma;
    font-size: 15px;
}
.portrait-right {

     float: right;

}

p.text {
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.5;

   }
p.text:first-letter {
    font-size: 3em;
    color: indigo;
    float: left;
    margin: 4px;
    font-style: italic;
}